# ========================
# Python 本體產生的檔案
# ========================
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# ========================
# 虛擬環境
# ========================
venv/
.venv/
env/
ENV/

# ========================
# IDE 設定檔
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ========================
# 作業系統層級
# ========================
.DS_Store
Thumbs.db

# ========================
/threads_post_backup.db
*.csv
*.json